DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=
SSL_MODE=disable
TIMEZONE=

PRODUCT_SERVICE_PORT=

INVENTORY_SERVICE_HOST=
INVENTORY_SERVICE_PORT=

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_FOLDER=my-app/uploads