DB_USER=your_dbms_user
DB_PASSWORD=your_dbms_password
DB_HOST=
DB_PORT=
DB_NAME=your_database
SSL_MODE=disable
TIMEZONE=

ORDER_SERVICE_PORT=
KAFKA_BROKERS=

# Product Service
PRODUCT_SERVICE_HOST=
PRODUCT_SERVICE_PORT=

# Inventory Service
INVENTORY_SERVICE_HOST=
INVENTORY_SERVICE_PORT=

# Payment Service
PAYMENT_SERVICE_HOST=
PAYMENT_SERVICE_PORT=

# Shipping Service
SHIPPING_SERVICE_HOST=
SHIPPING_SERVICE_PORT=

# Notification Service
NOTIFICATION_SERVICE_HOST=
NOTIFICATION_SERVICE_PORT=